<div class="container-fluid">
  <!-- Breadcrumbs-->
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <h4>Invite Subscriber</h4>
    </li>
  </ol>
  <div class="formBox">
    <div class="container">
      <!-- <form [formGroup]="inviteSubscriber" (ngSubmit)="onSubmit()"> -->
        <form  class="form-horizontal" [formGroup]="inviteSubscriber"
        (ngSubmit)="onSubmit(inviteSubscriber)" >
        <div class="clearfix"></div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Email</label>
          <div class="col-sm-4 row">
            <input type="text" class="form-control" formControlName="user_id"  placeholder="Email" />
            <div *ngIf="submitted && f.user_id.errors" class="alert alert-danger form-group">
              <div *ngIf="f.user_id.errors.required">
                Email is required
              </div>
              <div *ngIf="f.user_id.errors.email">Email must be a valid email address</div>
            </div>
          </div>
        </div>
        
        <div class="form-group">
          <div class="row card-body justify-content-center">
            <button type="submit"  class="btn btn-custom-83559D">Submit</button>
          </div>
        </div>
      </form>
    </div>

  </div>
</div>