<form ngNoForm method="post" action="
https://payment.ipay88.com.my/ePayment/entry.asp">
<input type="hidden" name="MerchantCode" value="M18173">
<input type="hidden" name="PaymentId" value="">
<input type="hidden" name="refNo" value="A0003">
<input type="hidden" name="Amount" value="1.00">
<input type="hidden" name="Currency" value="MYR">
<input type="hidden" name="ProdDesc" value="test">
<input type="hidden" name="UserName" value="test">
<input type="hidden" name="UserEmail" value="test@gmail.com">
<input type="hidden" name="UserContact" value="9949633109">
<input type="hidden" name="Remark" value="test">
<input type="hidden" name="Lang" value="ISO-8859-1">
<input type="hidden" name="SignatureType" value="SHA256">
<input type="hidden" name="Signature" value="d09ff64c39ebe79702bb4644b392a59dee636e910541d73b6d039f8e6ddab4f1">
<input type="hidden" name="ResponseURL" value="http://web.ourcheckup.com/#/response">
<input type="hidden" name="BackendURL" value="https://api.ourcheckup.com/payment_insert">
<input type="submit" name="Submit" value="Proceed with Payment">
</form>
