<div class="container-fluid">
  <!-- Breadcrumbs-->
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <h4>MEDICAL SUMMARY</h4>
    </li>
  </ol>
  <div class="formBox">

<div class="container mx-auto p-5">
  <div class="card">
  
  <div class="card-body">
  <div class="row">
  <span class='col-md-8'>
  
  <img class="img-responsive col-sm-3" height="100" src="assets/images/icon12.png">
  
  </span>
  <span class='col-md-4'>
    <p>Created On<span> : </span>{{created}}</p>
    <p>Name<span> : </span> {{first_name}} {{last_name}} </p>
    <p>MRN<span> : </span>{{mrn}}</p>
    <p>Date of Birth<span> : </span>{{dob}}</p>
    <p>Age<span> : </span>{{age}}</p>
    <p>ID No<span> : </span>{{id}}</p>
    <p>Gender<span> : </span>{{gender}}</p>
  </span>
  </div>
  </div>
<hr />
  <div class="card-body">
  <div class="row">
    <div class="col-md-12">
      <h4>Significant Medical History</h4>

    <table class="table table-borderless">
      <thead>
       
      </thead>
      <tbody>
        <tr *ngFor="let item of smhList">
          <th scope="row"></th>
          <td>{{item.name}}</td>
          <td></td>
          <td>Since {{item.since}}</td>
        </tr>
        
      </tbody>
    </table>
  </div>
 
  </div>
  </div>
  <hr />
  <div class="card-body">
    <div class="row">
      <div class="col-md-12">
        <h4>Past Surical History</h4>
  
      <table class="table table-borderless">
        <thead>
         
        </thead>
        <tbody>
          <tr *ngFor="let item of pshList">
            <th scope="row"></th>
            <td>{{item.name}}</td>
            <td></td>
            <td>Since {{item.since}}</td>
          </tr>
          
        </tbody>
      </table>
    </div>
   
    </div>
    </div>
  
    <hr />
  <div class="card-body">
    <div class="row">
      <div class="col-md-12">
        <h4>Current Medication</h4>
  
      <table class="table table-borderless">
        <thead>
         
        </thead>
        <tbody>
          <tr *ngFor="let item of cmList">
            <th scope="row"></th>
            <td>{{item.name}}</td>
            <td></td>
            <td>Since {{item.since}}</td>
          </tr>
          
        </tbody>
      </table>
    </div>
   
    </div>
    </div>
  
    <hr />
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <h4>Drug Allergies</h4>
    
        <table class="table table-borderless">
          <thead>
           
          </thead>
          <tbody>
            <tr *ngFor="let item of daList">
              <th scope="row"></th>
              <td>{{item.name}}</td>
              <td></td>
              <td>Since {{item.since}}</td>
            </tr>
            
          </tbody>
        </table>
      </div>
     
      </div>
      </div>
    
  

  
  </div>
  </div>
  </div>
  </div>


  
  